@import "utils/vars"
@import "mixins/util"
@import "mixins/breakpoints"
@import "utils/reset"
@import "utils/animations"

@font-face
    font-family: "Helvetica"
    src: url("../fonts/Helvetica-Bold.ttf") format("truetype")
    font-weight: $bold-text

@font-face
    font-family: "Avenir"
    src: url("../fonts/AvenirLTStd-Roman.otf") format("truetype")
    font-weight: $regular-text

@font-face
    font-family: "Avenir"
    src: url("../fonts/AvenirLTStd-Book.otf") format("truetype")
    font-weight: $light-text

@font-face
    font-family: "Avenir"
    src: url("../fonts/AvenirLTStd-Black.otf") format("truetype")
    font-weight: $bold-text

@font-face
    font-family: "Avenir"
    src: url("../fonts/Avenir-Medium.ttf") format("truetype")
    font-weight: $medium-text

html
    scroll-behavior: smooth
    scrollbar-width: thin
    scrollbar-color: $accent $black

body::-webkit-scrollbar
    width: 0.5rem

body::-webkit-scrollbar-track
    background: $black

body::-webkit-scrollbar-thumb
    background:  $accent

body
    background-image: $background-linear
    font-family: 'Avenir', sans-serif
    font-weight: $medium-text
    font-size: 16px
    line-height: 160%
    color: $text-color-light

    +screen-up(sm)
        font-size: 18px

h1
    font-family: 'Helvetica', sans-serif
    font-weight: $bold-text
    line-height: 110%
    color: $text-color-dark
    font-size: 40px

    +screen-up(sm)
        font-size: 60px

    +screen-up(lg)
        font-size: 80px

h3
    font-family: 'Helvetica', sans-serif
    font-weight: $bold-text
    font-size: 20px
    line-height: 130%
    color: $text-color-dark

    +screen-up(sm)
        font-size: 30px

    +screen-up(lg)
        font-size: 40px

h4
    font-family: 'Helvetica', sans-serif
    font-weight: $regular-text
    font-size: 20px
    line-height: 130%
    color: $text-color-dark

    +screen-up(sm)
        font-size: 22px

    +screen-up(lg)
        font-size: 24px

.section-mb-medium
    margin: 0 0 50px

    +screen-up(sm)
        margin: 0 0 70px

    +screen-up(lg)
        margin: 0 0 90px

.section-mb-large
    margin: 0 0 90px

    +screen-up(sm)
        margin: 0 0 120px

    +screen-up(lg)
        margin: 0 0 150px

.button
    border-radius: 50px
    padding: 16px 37px
    color: $text-color-white
    display: inline-block

    &:hover, &:visited
        transition: background-color .3s ease
        color: $text-color-white

    & button
        color: inherit

    &--main
        background: $button-main-bg

        &:hover
            background: $button-accent-bg

    &--accent
        background: $button-accent-bg

        &:hover
            background: $button-main-bg

    &--white
        color: $text-color-dark
        background-color: $button-white-bg
        box-shadow: $button-white-box-shadow

        &:hover
            transition: all .3s ease
            transform: scale(1.1)
            color: $text-color-dark


.header
    position: fixed
    width: 100%
    top: 0
    padding: 3vh 0 0
    z-index: 20

    &.shrink-header
        padding: 3vh 0
        background-color: #f6fafdea
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)

    & .nav
        justify-content: space-around

    & .logo
        width: 30px
        height: auto

        +screen-up(sm)
            width: 49px
            height: auto

    & .nav-link
        padding: 0
        color: $text-color-light

        &:hover
            color: $text-color-accent

    & .nav-link.active
        color: $text-color-dark
        font-weight: $bold-text

.hero
    padding: 20vh 0 0
    position: relative
    height: 100vh
    overflow-y: hidden

    +screen-up(sm)
        padding: 10vh 0 0

    +screen-up(lg)
        margin: 0 0 90px

    & .content
        margin-top: 40vh
        transform: translateY(-50%)

    &-img
        position: absolute
        z-index: -1
        right: 5%
        bottom: 10vh
        display: none

        +screen-up(lg)
            display: block
            width: 50%
            height: auto

    & .title
        margin: 0 0 5vh

        +screen-up(lg)
            max-width: 645px

    & .info
       margin: 0 0 5vh

       +screen-up(lg)
            max-width: 380px

.about-us

    & .content-card
        display: flex
        flex-direction: column
        padding: 8% 8% 10%
        background: $about-bg-color
        border-radius: 50px

        +screen-up(lg)
            flex-direction: row
            padding: 8% 8% 4% 6%

        & .content
            display: flex
            flex-direction: column
            justify-content: center

        & img
            display: block
            max-width: 420px
            width: 100%
            margin: 0 auto 6%

            +screen-up(lg)
                margin: 0 6% 0 0

        & h3
            margin: 0 0 4%

.features

    & .title
        margin: 0 0 25px

        +screen-up(sm)
            margin: 0 0 35px

        +screen-up(lg)
            margin: 0 0 45px

    & .subtitle
        width: 100%
        max-width: 584px
        display: block
        margin: 0 auto 35px

        +screen-up(sm)
            margin: 0 auto 55px

        +screen-up(lg)
            margin: 0 auto 75px

    & .content-card
        position: relative
        margin: 0 0 30px 0
        padding: 50px 0
        width: 100%
        border-radius: 50px

        +screen-up(sm)
            background: none
            padding: 50px 50px 30px 0
            height: 360px
            max-width: 442px

        +screen-up(lg)
            margin: 0 20px 50px

        & .content

            width: 100%
            max-width: 70%
            text-align: center
            margin: 0 auto

            +screen-up(sm)
                margin: 0 0 0 auto
                text-align: left
                max-width: 240px

            & .title
                margin: 0 0 20px

            & .description
                margin: 0 0 20px

            & .link
                color: $text-color-dark
                font-weight: $bold-text
                display: inline-block
                transition: transform .3s ease

                &:hover
                    transform: scale(1.1)

        &-img
            display: none
            position: absolute
            right: 300px
            top: 50%
            transform: translateY(-50%)
            z-index: -1

            +screen-up(sm)
                display: block

        &-bg
            display: none
            position: absolute
            right: 0
            top: 0
            z-index: -2

            +screen-up(sm)
                display: block

.features-card-1-bg
    background: $features-card-color-1

.features-card-2-bg
    background: $features-card-color-2

.features-card-3-bg
    background: $features-card-color-3

.features-card-4-bg
    background: $features-card-color-4

.offer
    padding: 50px 0 0
    border-top: 2px solid #EBE1F9

    +screen-up(lg)
        padding: 100px 0 0

footer
    padding: 0 0 30px

    & .title
        font-weight: $bold-text
        margin: 0 0 30px 0

    & .logo
        margin: 0 0 30px 0
        display: flex
        align-items: center
        justify-content: center
        font-weight: $bold-text
        font-size: 20px

        +screen-up(lg)
            justify-content: flex-start

    & .navigation li
        margin: 0 0 20px

    & .social-media a
        display: inline-block

    & .social-media a:not(:last-child)
        margin: 0 14px 0 0

    & .address-details a
        color: $text-color-light

.testimonials
    overflow-x: hidden

    & .content
        border-radius: 50px

        +screen-up(sm)
            background-color: $testimonials-bg-color
            padding: 109px 76px 90px 60px

    & .title
        color: $text-color-dark
        margin: 0 0 30px

        +screen-up(sm)
            color: $text-color-white
            margin: 0 0 60px

        +screen-up(lg)
            margin: 0 0 83px

    & .testimonial-card
        display: flex
        border-radius: 50px
        background-color: $background-white
        border: 1px solid #9C69E2
        box-shadow: 0 20px 0 rgba(156, 105, 226, 0.1)
        padding: 10% 11% 8%

        & img
            height: 60px
            width: 60px

            +screen-up(sm)
                height: 90px
                width: 90px

        & .content
            padding: 0 0 0 15px
            background-color: inherit

            +screen-up(sm)
                padding: 25px 0 0 30px

            & .username
                font-weight: $bold-text
                line-height: 28.8px

            & .role
                color: #9C69E2
                font-size: 14px
                font-weight: $medium-text
                margin: 0 0 19px

.swiper-container

    +screen-up(md)
        overflow: visible

.swiper-wrapper
    margin: 0 0 30px

    +screen-up(sm)
        margin: 0 0 60px

.swiper-slide
    max-width: 665px
    transition: opacity .3s ease

.swiper-slide:not(.swiper-slide-active)
    opacity: 0.9

.swiper-slide.hidden
    opacity: 0

.button-next
    width: 40px
    height: 15px
    background: url("../icons/next.svg") no-repeat top center / cover

.button-prev
    width: 40px
    height: 15px
    background: url("../icons/prev.svg") no-repeat top center / cover

.button-next.disabled-button
    background: url("../icons/next-disabled.svg") no-repeat left

.button-prev.disabled-button
    background: url("../icons/prev-disabled.svg") no-repeat right

.navigation-bullet
    margin: 0 10px 0 0
    width: 10px
    height: 10px
    background-color: #F6FAFD
    border-radius: 50%

.navigation-bullet.navigation-bullet-active
    width: 10px
    height: 10px
    background-color: $accent
    border-radius: 50%

.slider-navigation
    background-color: $testimonials-bg-color
    padding: 4% 6% 4%
    border-radius: 50px

    +screen-up(sm)
        padding: 0
        border-radius: 0

@media only screen and (min-device-width: 768px) and (max-device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)
    .hero
        margin: 0

@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)
    .hero
        margin: 0

        &-img
            width: 70%
